@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300;400;500&display=swap");

.container {
  background: white;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.container .content {
  width: 36%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container .content .logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content .contentB {
  margin-top: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content .contentB1 {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.content .contentB h1 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.content h3 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.content h1:hover {
  color: red;
}

.content h3:hover {
  color: red;
}

.container .content .contentB2 {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.container .content .contentSocial {
  padding-top: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content .contentSocial .imagee {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: center;
}

.container .content .contentSocial img {
  width: 60px;
  height: 60px;
}

.container .content .contentSocial img:hover {
  cursor: pointer;
}

.container .Vcont {
  width: 60%;
}

.container .Vcont .vi {
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .Vcont .vi iframe {
  margin: auto;
  width: 750px;
  border-radius: 30px;
}

@media (max-width: 1160px) {
  .container .Vcont {
    width: 0%;
    display: none;
  }

  .container .content {
    width: 100%;
  }

  .container .content .contentB {
    margin-top: 2%;
  }

  .container .content .contentSocial {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

@media (max-width: 640px) {
  .container .content .logo {
    margin-top: -3%;
    height: 28%;
  }
  .container .content .logo img {
    height: 100%;
    width: auto;
  }

  .content h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .content h5 {
    font-size: 1rem;
  }

  .container .contentB {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .content .contentB1 {
    width: 50%;
    text-align: center;
  }

  .container .content .contentB2 {
    width: 50%;
    text-align: center;
  }

  .container .content .contentSocial {
    margin-top: 3%;
  }

  .container .content .contentSocial .imagee img {
    width: auto;
    height: 2.5rem;
    margin: 2%;
  }
}
